USE [master]
GO
/****** Object:  Database [encuesta]    Script Date: 07/02/2018 21:02:51 ******/
CREATE DATABASE [encuesta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'encuesta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\encuesta.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'encuesta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\encuesta_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [encuesta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [encuesta]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 07/02/2018 21:02:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departamento](
	[id_dpto] [int] NOT NULL,
	[nombre_dpto] [varchar](20) NULL,
 CONSTRAINT [PK_Departamento_1008] PRIMARY KEY CLUSTERED 
(
	[id_dpto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 07/02/2018 21:02:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Distrito](
	[id_distrito] [int] NOT NULL,
	[nombre_distrito] [varchar](20) NULL,
	[id_prov] [int] NOT NULL,
 CONSTRAINT [PK_Distrito_1007] PRIMARY KEY CLUSTERED 
(
	[id_distrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Encuesta]    Script Date: 07/02/2018 21:02:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Encuesta](
	[id_encuesta] [int] NOT NULL,
	[descripcion] [varchar](50) NULL,
	[poblacion] [int] NULL,
	[muestra] [int] NULL,
	[desde] [date] NULL,
	[hasta] [date] NULL,
 CONSTRAINT [PK_Encuesta_1004] PRIMARY KEY CLUSTERED 
(
	[id_encuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Encuestador]    Script Date: 07/02/2018 21:02:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Encuestador](
	[id_encuestador] [int] NOT NULL,
	[dni] [varchar](8) NULL,
	[nombre] [varchar](20) NULL,
	[apellido] [varchar](20) NULL,
	[supervisor] [varchar](20) NULL,
 CONSTRAINT [PK_Encuestador_1001] PRIMARY KEY CLUSTERED 
(
	[id_encuestador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 07/02/2018 21:02:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estado](
	[id_estado] [int] NOT NULL,
	[descripcion] [varchar](20) NULL,
 CONSTRAINT [PK_Estado_1005] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ficha]    Script Date: 07/02/2018 21:02:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ficha](
	[id_ficha] [int] NOT NULL,
	[fecha_hora] [date] NULL,
	[lugar] [varchar](50) NULL,
	[encuestas] [int] NULL,
	[id_encuestador] [int] NOT NULL,
 CONSTRAINT [PK_Ficha_1002] PRIMARY KEY CLUSTERED 
(
	[id_ficha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ficha_Encuesta]    Script Date: 07/02/2018 21:02:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ficha_Encuesta](
	[id_ficha] [int] NOT NULL,
	[id_encuesta] [int] NOT NULL,
	[id_distrito] [int] NOT NULL,
	[id_estado] [int] NOT NULL,
 CONSTRAINT [PK_Ficha_Encuesta__1003] PRIMARY KEY CLUSTERED 
(
	[id_ficha] ASC,
	[id_encuesta] ASC,
	[id_distrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 07/02/2018 21:02:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Provincia](
	[id_prov] [int] NOT NULL,
	[nombre_prov] [varchar](20) NULL,
	[id_dpto] [int] NOT NULL,
 CONSTRAINT [PK_Provincia_1006] PRIMARY KEY CLUSTERED 
(
	[id_prov] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Departamento] ([id_dpto], [nombre_dpto]) VALUES (2, N'Arequipa')
INSERT [dbo].[Departamento] ([id_dpto], [nombre_dpto]) VALUES (1, N'Lima')
INSERT [dbo].[Encuesta] ([id_encuesta], [descripcion], [poblacion], [muestra], [desde], [hasta]) VALUES (1, NULL, 2000, 101, CAST(N'2017-02-01' AS Date), CAST(N'2018-01-01' AS Date))
INSERT [dbo].[Encuesta] ([id_encuesta], [descripcion], [poblacion], [muestra], [desde], [hasta]) VALUES (2, NULL, 8000, 200, CAST(N'2022-01-22' AS Date), CAST(N'2012-01-01' AS Date))
INSERT [dbo].[Encuestador] ([id_encuestador], [dni], [nombre], [apellido], [supervisor]) VALUES (1, N'12345678', NULL, NULL, NULL)
INSERT [dbo].[Encuestador] ([id_encuestador], [dni], [nombre], [apellido], [supervisor]) VALUES (2, N'98745632', NULL, NULL, NULL)
INSERT [dbo].[Encuestador] ([id_encuestador], [dni], [nombre], [apellido], [supervisor]) VALUES (3, N'85624319', NULL, NULL, NULL)
INSERT [dbo].[Ficha] ([id_ficha], [fecha_hora], [lugar], [encuestas], [id_encuestador]) VALUES (1, CAST(N'2018-02-07' AS Date), NULL, NULL, 1)
INSERT [dbo].[Ficha] ([id_ficha], [fecha_hora], [lugar], [encuestas], [id_encuestador]) VALUES (2, CAST(N'2018-02-07' AS Date), NULL, NULL, 3)
INSERT [dbo].[Ficha] ([id_ficha], [fecha_hora], [lugar], [encuestas], [id_encuestador]) VALUES (3, CAST(N'2018-02-07' AS Date), NULL, NULL, 3)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_Departamento_nombredepartamento]    Script Date: 07/02/2018 21:02:51 ******/
ALTER TABLE [dbo].[Departamento] ADD  CONSTRAINT [UQ_Departamento_nombredepartamento] UNIQUE NONCLUSTERED 
(
	[nombre_dpto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_Distrito_nombre_distrito]    Script Date: 07/02/2018 21:02:51 ******/
ALTER TABLE [dbo].[Distrito] ADD  CONSTRAINT [UQ_Distrito_nombre_distrito] UNIQUE NONCLUSTERED 
(
	[nombre_distrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNQ_Encuestador_dni]    Script Date: 07/02/2018 21:02:51 ******/
ALTER TABLE [dbo].[Encuestador] ADD  CONSTRAINT [UNQ_Encuestador_dni] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [FK_Distrito_Provincia] FOREIGN KEY([id_prov])
REFERENCES [dbo].[Provincia] ([id_prov])
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [FK_Distrito_Provincia]
GO
ALTER TABLE [dbo].[Ficha]  WITH CHECK ADD  CONSTRAINT [FK_Ficha_Encuestador] FOREIGN KEY([id_encuestador])
REFERENCES [dbo].[Encuestador] ([id_encuestador])
GO
ALTER TABLE [dbo].[Ficha] CHECK CONSTRAINT [FK_Ficha_Encuestador]
GO
ALTER TABLE [dbo].[Ficha_Encuesta]  WITH CHECK ADD  CONSTRAINT [FK_Ficha_Encuesta_Distrito] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[Distrito] ([id_distrito])
GO
ALTER TABLE [dbo].[Ficha_Encuesta] CHECK CONSTRAINT [FK_Ficha_Encuesta_Distrito]
GO
ALTER TABLE [dbo].[Ficha_Encuesta]  WITH CHECK ADD  CONSTRAINT [FK_Ficha_Encuesta_Encuesta] FOREIGN KEY([id_encuesta])
REFERENCES [dbo].[Encuesta] ([id_encuesta])
GO
ALTER TABLE [dbo].[Ficha_Encuesta] CHECK CONSTRAINT [FK_Ficha_Encuesta_Encuesta]
GO
ALTER TABLE [dbo].[Ficha_Encuesta]  WITH CHECK ADD  CONSTRAINT [FK_Ficha_Encuesta_Estado] FOREIGN KEY([id_estado])
REFERENCES [dbo].[Estado] ([id_estado])
GO
ALTER TABLE [dbo].[Ficha_Encuesta] CHECK CONSTRAINT [FK_Ficha_Encuesta_Estado]
GO
ALTER TABLE [dbo].[Ficha_Encuesta]  WITH CHECK ADD  CONSTRAINT [FK_Ficha_Encuesta_Ficha] FOREIGN KEY([id_ficha])
REFERENCES [dbo].[Ficha] ([id_ficha])
GO
ALTER TABLE [dbo].[Ficha_Encuesta] CHECK CONSTRAINT [FK_Ficha_Encuesta_Ficha]
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD  CONSTRAINT [FK_Provincia_Departamento] FOREIGN KEY([id_dpto])
REFERENCES [dbo].[Departamento] ([id_dpto])
GO
ALTER TABLE [dbo].[Provincia] CHECK CONSTRAINT [FK_Provincia_Departamento]
GO
ALTER TABLE [dbo].[Encuesta]  WITH CHECK ADD  CONSTRAINT [CHK_Encuesta_muestra] CHECK  (([muestra]>(100)))
GO
ALTER TABLE [dbo].[Encuesta] CHECK CONSTRAINT [CHK_Encuesta_muestra]
GO
ALTER TABLE [dbo].[Encuesta]  WITH CHECK ADD  CONSTRAINT [CHK_Encuesta_poblacion] CHECK  (([poblacion]>(1000)))
GO
ALTER TABLE [dbo].[Encuesta] CHECK CONSTRAINT [CHK_Encuesta_poblacion]
GO
ALTER TABLE [dbo].[Encuestador]  WITH CHECK ADD  CONSTRAINT [CHK_Encuestador_dni] CHECK  (([dni] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Encuestador] CHECK CONSTRAINT [CHK_Encuestador_dni]
GO
USE [master]
GO
